{% render 'partials/headBorder.liquid', title: 'Squad page' %}

<ul class="filter">
  <li>
    <a href="/">Naam</a>
  </li>
  <li>
    <a href="/birthdate">Geboorte datum</a>
  </li>
  <li>
    <a href="">Ronde hoek</a>
  </li>
  <li>
    <form action="">
      <input type="search" placeholder="Search...">
    </form>
  </li>
</ul>

<ul class="students">
  {% for person in persons %}
    <li>
      <a href="/student/{{ person.id }}">{{ person.fav_border_radius }}</a>
    </li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}