{% render 'partials/head.liquid', title: 'Squad page' %}

<ul class="filter">
  <li>
    Naam /* moet het als a of iets anders???*/
  </li>
  <li>
    Geboorte datum
  </li>
  <li>
    Ronde hoek
  </li>
  <li>
    <input type="search" placeholder="Search...">
  </li>
</ul>

<ul class="students">
  {% for person in persons %}
    <li>
      <a href="/student/{{ person.id }}">{{ person.name }}</a>
      <img src="{{ person.mugshot }}" alt="Mugshot van de student">
    </li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}