body{
    background-color: cadetblue;
    font-family: sans-serif;
    margin: 0;
    margin-inline: 1rem;
}

h1{
    text-align: center;
    color: white;
}

.filter{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
    flex-direction: column;

    input{
        appearance: none;
        background-color: #d6d6d6;
        border: none;
        border-radius: 5px;
    }
}

.students{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding: 0;

    li{
        width: 150px;
        height: 150px;
        background-color: white;
        
        a{
            text-decoration: none;
        }

        &:nth-of-type(3n){
            height: 267px;
        }
    }

        
}