body{
    background-color: cadetblue;
    font-family: sans-serif;
    margin: 0;
    margin-inline: 1rem;
}

h1{
    text-align: center;
    color: white;
}

.filter{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
    flex-direction: column;
    align-items: center;

    input{
        appearance: none;
        background-color: #d6d6d6;
        border: none;
        border-radius: 5px;
    }

    @media (min-width: 700px){
        flex-direction: row;
    }

    a{
        text-decoration: none;
        color: black;
    }
    li{
        container-type: inline-size;
        container-name: sort;
        width: 100%;

        @media (width > 700px){
        display: flex;
        justify-content: center;
        }

    }

    div{
        display: grid;
        grid-template-columns: 1fr auto auto;
        column-gap: 1rem;
        grid-template-areas: 'view normaal anders';

        .bold{
            font-weight: 600;
        }

        a:nth-of-type(2){
            border-right: solid black 2px;
            padding-right: 1rem;

            grid-area: normaal;
        }

        @container sort (width > 250px){
            grid-template-areas: 
            'view    view   view'
            'normaal anders anders'
            ;

            grid-template-columns: auto auto 1fr;
            grid-template-rows: 1fr 1fr;

            a:nth-of-type(2){
                padding-left: 1rem;
            }
        }

        @media (width > 700px){
            grid-template-areas: 
            'view    view   view'
            'normaal anders anders'
            ;

            grid-template-columns: auto auto 1fr;
            grid-template-rows: 1fr 1fr;

            a:nth-of-type(2){
                padding-left: 1rem;
            }
        }

        a:first-of-type{
            grid-area: view;
        }
        a:nth-of-type(3){
            grid-area: anders;
        }
    }
}

.students{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 9.375rem), 1fr)); /* auto-fit maakt zoveel kolommen als passen in de container. 9.375rem is de vaste gewenste min breedte, 100% betekent dat de kolomn nooit breder dan de container mag zijn.*/
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 0;

    .student-card{
        width: 100%;
        height: 5rem;
        background-color: white;
        border: 10px solid transparent;
        border-image: url('/assets/photo-frame-border.svg') 100 round;

        animation: fade-in cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
        animation-timeline: view();
        animation-range: entry 0% cover 20%;
                
        /* a{
            text-decoration: none;
            color: black;
        }

        &:nth-of-type(3n){
            height: 10rem;
        }

        &:nth-of-type(4n + 1){
            width: 200%;
        }

        &:nth-of-type(7n + 2){
            width: 200%;
            height: 10rem;
        } */

        &:hover{
            scale: 1.1;
        }

    }

        
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(4rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}